.nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
}

.title {
  font-family: var(--font-leky);
  color: var(--white);
}

.span {
  font-size: 0.5rem;
}

.link {
  color: var(--white);
  text-transform: uppercase;
  padding-left: 4rem;
}

.links__container {
  display: flex;
  list-style: none;
}

@media (min-width: 768px) {
  /* .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90vw;
        position: fixed;
        top: 1rem;
        left: 4rem;
        z-index: 1;
    } */
}
